body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

a {
    color: white; 
}

a:hover {
    color: green; /*#9cc4de;*/
}

header, footer {
    background-color: #101010;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color:  #101010;
}

.navbar img {      
    margin-top: -18px;
    margin-left: -15px;
    width: 85%;
    display: inline;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .nav li:hover a {
    border-bottom:  green solid 3px;
    background-color: rgba(255,255,255,0.1);
    color: green;
}

.navbar-inverse .nav li.active a {
    border-bottom: green solid 3px;
    background-color: rgba(255,255,255,0.1);
    color: green; 
}

.adjustment-4-spyscroll {
    padding-top: 65px;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}

.cbp-af-header-shrink img{
    margin-top: -15px;
    width: 65%;
    display: inline;
}

.fill-screen-half, .fill-screen-one-third {
    background-size: cover;
    background-position: center;
}

.section-row {
    position: relative;
    min-height: 175px;
}

.text-center-on-image {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    color: white;    
}

.slogan {
    font-size: 45px;
}

.down-button {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: white;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.black-banner {
    background-color: #151313; 
    height: 50px;    
}

article {
    min-height: 300px;
    padding: 20px;
}

section .title, section .description, article .description, article .title {
    margin-bottom: 30px;
}

#contributions {
    margin-bottom: 125px;
}

#contributions a {
    color: black; 
    display: inline-block;
    margin: 15px;
}

#contributions a .github {
    color: black;
}

#contributions a .stackoverflow {
    color: orange;
}

#contributions a .wordpress {
    color: #47a3de;
}

#contributions a .linkedin, #contributions a .twitter {
    color: #086ac8;
}



